<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<script src="/ui/scripts/sitescripts.js" type="text/javascript"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Lifeport | A Sikorsky Aerospace Services Company</title>
<meta name="description" content="LifePort, Inc. is a world leader in the design, manufacture and certification of a wide range of mission equipment products for the aviation industry." />
<link rel="stylesheet" href="/ui/css/stylesheet.css" />

<!--[if (gte IE 6)&(lte IE 8)]>
	<script type="text/javascript" src="/ui/scripts/selectivizr.js"></script>
<![endif]-->

<!--[if (gt IE 6)&(lt IE 8)]>
	<link rel="stylesheet" type="text/css" href="/ui/css/ieseven.css">
<![endif]-->

<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="/ui/css/iesix.css">
	<script src="/ui/scripts/DD_belatedPNG_0.0.8a-min.js"></script>
	<script src="/ui/scripts/DD_belatedPNG_array.js"></script>
<![endif]-->

<script type="text/javascript" src="/ui/scripts/quickmenu.js"></script>

<link rel="shortcut icon" href="../../temp/ui/Templates/favicon.ico" type="image/vnd.microsoft.icon" />

<link rel="stylesheet" href="/ui/css/supersized.css" type="text/css" media="screen" />

<script type="text/javascript" src="/ui/scripts/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/ui/scripts/effects.core.js"></script>
<script type="text/javascript" src="/ui/scripts/effects.slide.js"></script>

<script type="text/javascript" src="/ui/scripts/supersized.3.0.js"></script>
<script type="text/javascript">

$(function () {
	if($.browser.msie) {
		$.fn.supersized.options = {
			startwidth: 1280,
			startheight: 960,
			vertical_center: 0,
			slideshow: 0,
			navigation: 0,
			thumbnail_navigation: 0,
			transition: 0, //0-None, 1-Fade, 2-slide top, 3-slide right, 4-slide bottom, 5-slide left
			pause_hover: 0,
			slide_counter: 0,
			slide_captions: 0,
			slide_interval: 10000,
			slides: [
				
				{ image: '/ui/images/imgSlides/luxury_bg.jpg', title: 'luxury_bg.jpg' },
				{ image: '/ui/images/imgSlides/medsystems_bg.jpg', title: 'medsystems_bg' },
				{ image: '/ui/images/imgSlides/armor_bg.jpg', title: 'armor_bg.jpg' }
			]
		};
	} else {
		$.fn.supersized.options = {
			startwidth: 1280,
			startheight: 960,
			vertical_center: 0,
			slideshow: 0,
			navigation: 0,
			thumbnail_navigation: 0,
			transition: 1, //0-None, 1-Fade, 2-slide top, 3-slide right, 4-slide bottom, 5-slide left
			pause_hover: 0,
			slide_counter: 0,
			slide_captions: 0,
			slide_interval: 10000,
			slides: [
				
				{ image: '/ui/images/imgSlides/luxury_bg.jpg', title: 'luxury_bg.jpg' },
				{ image: '/ui/images/imgSlides/medsystems_bg.jpg', title: 'medsystems_bg' },
				{ image: '/ui/images/imgSlides/armor_bg.jpg', title: 'armor_bg.jpg' }
			]
		};
	}
	$('#supersized').supersized();
});

	function showBackground(imageNumber){
		$.gotoslide(imageNumber);
	};

</script>

<script type="text/javascript" src="/ui/scripts/swfobject.js"></script>
		<script type="text/javascript">
			swfobject.registerObject("flashcontent", "9.0.0", "/ui/scripts/expressInstall.swf");
		</script>

</head>
<body class="homebody" runat="server" id="body">

<!-- jQuery Supersized Background Markup: Do not Edit -->
<div id="loading"> </div> 
<!-- jQuery Supersized Background Markup Ends  -->

<!-- jQuery Supersized Background Markup: Do not Edit -->
<div id="PageContainer">
<!-- jQuery Supersized Background Markup Ends -->


<div class="HeaderContainer FullWidthCarriage">
<!-- HeaderContainer -->

	<div class="Header">
	<!-- Header Starts -->


		<div class="TopContainer">
		<!-- TopContainer Starts -->

		<div class="Logo"><a href="/index.html"><img src="/ui/images/img_Logo.gif" alt="LifePort Inc. | A Sikorsky Aerospace Services Company" title="LifePort Inc. | A Sikorsky Aerospace Services Company" border="0" /></a></div>

		<div class="LogoEnflite"><a href="/index.html"><img src="/ui/images/img_Logo_enflite.gif" alt="Enflite | A Sikorsky Aerospace Services Company" title="Enflite | A Sikorsky Aerospace Services Company" border="0" /></a></div>

			<div class="GlobalNavContainer">

				<TemplateControls:GlobalNav ID="global" runat="server" />

				<TemplateControls:StockPrice id="stockprice" runat="server" />
			</div>
		</div>

	<TemplateControls:TopNav ID="topnav" runat="server" />

		<!-- Header Ends -->
	</div>

<!-- HeaderContainer Ends  -->
</div>

<div class="HomeMainContainer FullWidthCarriage">

<!-- HomeMainContainer Starts -->
	<div class="HomeMain">
	<!-- HomeMain Starts -->
	<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>
	<!-- HomeMain Ends -->
	</div>

<!-- HomeMainContainer Ends -->
</div>

<div class="FooterContainer FullWidthCarriage">
<!-- HomeFooterContainer Starts -->
	<div class="MainFooter">
	<!-- FooterMain Starts -->

	<div class="HomeFooterContainerLeft">
		<!-- HomeFooterContainerLeft Starts -->

    <TemplateControls:FooterNav ID="footer" runat="server" />

		<div class="HomeFooter2">

			<!-- HomeFooter2 Starts -->
			© 2011 Sikorsky Aircraft Corporation
			<!-- HomeFooter2 Ends -->
		</div>
		<!-- HomeFooterContainerLeft Ends -->
	</div>

	<div class="HomeFooterContainerRight">
		<!-- HomeFooterContainerRight Starts -->

		<div class="image"><img src="/ui/
images/img_FooterLogo.png" alt="Sikorsky Aerospace Services | A Sikorsky Company" /></div>			
		<!-- HomeFooterContainerRight Ends -->
	</div>

	</div>
	<!-- MainFooter Ends -->
<!-- FooterContainer Ends -->
</div>



<!-- jQuery Supersized Background Markup: Do not Edit -->
</div>

<!-- jQuery Supersized Background Markup Ends -->

<!-- jQuery Supersized Background Markup: Do not Edit -->
<div id="supersized"></div>
<!-- jQuery Supersized Background Markup Ends  -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21726174-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
