/* Universal Styles */

a:link {
	color:#005dab;
	background-color:transparent;
	font-weight:normal;
	text-decoration:none;
}

a:visited {
	color:#005dab;
	background-color:transparent;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#F19A02;
	font-weight:normal;
	background-color:transparent;
	text-decoration:underline;
}

a:visited:hover {
	color:#F19A02;
	font-weight:normal;
	background-color:transparent;
	text-decoration:underline;
}

a.smlnk:link {
	color:#005dab;
	background-color:transparent;
	font-weight:normal;
	text-decoration:none;
	font-size:10px;
}

a.smlnk:visited {
	color:#005dab;
	background-color:transparent;
	text-decoration:none;
	font-weight:normal;
	font-size:10px;
}

a.smlnk:hover {
	color:#F19A02;
	font-weight:normal;
	background-color:transparent;
	text-decoration:underline;
	font-size:10px;
}

a.smlnk:visited:hover {
	color:#F19A02;
	font-weight:normal;
	background-color:transparent;
	text-decoration:underline;
	font-size:10px;
}

p {
	margin:0px;
	padding: 0px 0px 10px 0px;
	color: #666;
}

h1 {
	margin: 0px 0px 0px 0px;
	color: #666;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 200%;
	line-height: 30px;
	font-weight: normal;
}
.cellpadder {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #dedede;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.headingcellpadder {
	padding-left: 5px;
}
h2 {
font: medium Arial, Verdana, Helvetica, sans-serif;
margin: 0px 0px 0px 0px;
color:#666;
}
h3 {
font: bold small Arial, Verdana, Helvetica, sans-serif;
margin: 3px 0px 3px 0px;
color:#666;
}

h3 a:link {
	color:#666;
	font-weight:bold;
	text-decoration:none;
}

h3 a:visited {
	color:#666;
	text-decoration:none;
	font-weight:bold;
}

h3 a:hover {
	color:#005dab;
	text-decoration:none;
	font-weight:bold;
}

h3 a:visited:hover {
	color:#005dab;
	text-decoration:none;
	font-weight:bold;
}

h4 {
font: medium Arial, Verdana, Helvetica, sans-serif;
margin: 0px 0px 15px 0px;
color:#003399;
}

h5 {
font: bold small Arial, Verdana, Helvetica, sans-serif;
margin: 0px 0px 10px 0px;
color:#046bc2;
}

ul {
    font: small Arial,Verdana,Helvetica,sans-serif;
    list-style: circle;
    margin: 10px 0 15px 20px;
    padding-left: 10px;
}
.sitemap ul {
	list-style:none;
}
li {
    margin: 0;
}
ol li {
	padding-bottom:10px;
}
.sitemapt2 ul {
    font: small Arial,Verdana,Helvetica,sans-serif;
    list-style: circle;
    margin: 0 0 15px 20px;
    padding-left: 10px;
}
.sitemapt3 ul {
    font: small Arial,Verdana,Helvetica,sans-serif;
    list-style: circle outside url("../images/bullet_arrow2.gif");
    margin: 0 0 0 10px;
    padding-left: 10px;
	padding-bottom:10px;
}
.sitemap ul li a{
	font-size:18px;	
	line-height:20px;
}
.sitemapt2 ul li a,
.sitemapt3 ul li a {
	font-size:small;
}

.sitemapt2,
.sitemapt3 {
	list-style:none;
}
.hrdot {
background: url(../images/hr_tile.gif) repeat-x;
padding: 0px;
margin: 0px;
}

.hline25 {
	background: url(../images/hline_25.gif) repeat-x;
}

.hline50 {
	background: url(../images/hline_50.gif) repeat-x;
}

.Caption {
	display:block;
	float:left;
	color:#000;
	font-style:normal; /*italic*/
	padding:5px 0px 5px 0px;
	width:465px;
	font-size:95%;
}

.CaptionLink {
	display:block;
	float:left;
	width:125px;
	color:#000;
	font-style:normal; /*italic*/
	padding:5px 0px 5px 0px;
	font-size:95%;
}

hr {
    border-right: #000000 0px solid;
    border-top: #CCCCCC 1px solid;
    border-left: #000000 0px solid;
    border-bottom: #000000 0px solid;
    color: #CCCCCC;
    height: 1px;
}

/* Photo Positioning Styles */

.photoleft {
	float: left;
	margin: 5px 25px 15px 0px;
}

.photoright {
	float: right;
	margin: 5px 0px 20px 30px;
}

.photoleft2 {
	float: left;
	margin: 5px 10px 10px 0px;
}

.photoright2 {
	float: right;
	margin: 5px 0px 10px 10px;
}

/* Specialty UL/LI Styles */

ul.flag {
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 0px 26px;
    list-style: square url(../images/bullet_flag.gif);
    float: left;
    line-height:20px;
}

ul.flag li {
    margin: 0px 0px 15px 0px;
}

ul.flag li.border {
    margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom:1px solid #ccc;
}

ul.flag li.noborder {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom:none;
}

ul.arrow {
	padding-left: 17px;
	float: left;
	line-height:18px;
	margin: 0px;
	list-style-type: square(
../images/blue_arrow.gif);
	list-style-image: url(../images/blue_arrow.gif);
	list-style-type: square;
}

li.arrow {
	margin: 0px 0px 20px 0px;
	list-style-image: url(../images/blue_arrow.gif);
}

ul.arrow a.active { 
	background: none;
	color: #F89F26;
	font-weight: bold; 
	text-decoration:none;
}

ul.pdf {
    margin: 10px 0px 10px 0px;
    padding-left: 25px;
    list-style: square url(../images/icon_pdf.gif);
    float: left;
    line-height:20px;
}

li.pdf {
    margin: 0px 0px 20px 0px;
}

/* HomeFeedback Styles */

.HomeFeedback {
	display:block;
	float:left;
	width:100px;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	padding:0px 0px 0px 0px;
	text-align:right;
}

.HomeFeedback a:link {
	color:#fff;
	background-color:transparent;
	font-weight:bold;
	text-decoration:none;
}

.HomeFeedback a:visited {
	color:#fff;
	background-color:transparent;
	text-decoration:none;
	font-weight:bold;
}

.HomeFeedback a:hover {
	color:#046bc2;
	text-decoration:none;
	font-weight:bold;
	background-color:transparent;
}


/* Feedback Styles */

.Feedback {
	display:block;
	float:left;
	width:920px;
	font-size:15px;
	font-weight:bold;
	color:#046bc2;
	padding:25px 30px 0px 0px;
	background:#fff;
	text-align:right;
}

.Feedback a:link {
	color:#046bc2;
	background-color:transparent;
	font-weight:bold;
	text-decoration:none;
}

.Feedback a:visited {
	color:#046bc2;
	background-color:transparent;
	text-decoration:none;
	font-weight:bold;
}

.Feedback a:hover {
	color:#F89F26;
	text-decoration:none;
	font-weight:bold;
	background-color:transparent;
}

/* Tabs Styles */

.alltabs {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 625px;
	display:block;
}

.tabwidth {
	  width:100%;
	  font: small Arial, Helvetica, sans-serif;
	  line-height:normal;
}
	  
.tabwidth p {
	  margin: 8px 30px 8px 15px;
	  line-height: 16px;
}
	  
.tabbox {
	  float:left;
	  display:block;
      width:100%;
	  margin: 0px 0px 0px 0px;
	  padding: 0px 0px 0px 0px;
	  background: url(../images/tabbox_bg.gif) no-repeat bottom left;
}
	  
.tabbox ul {
      margin:0px;
      padding:0px 0px 0px 0px;
      list-style:none;
}
	  
.tabbox li {
      float:left;
	  display:block;
      background:url(../images/left.gif) no-repeat left top;
      margin:0px;
      padding:0px 0px 0px 20px;
}
	  
.tabbox a {
      display:block;
	  float:left;
      background:url(../images/right.gif) no-repeat right top;
      padding:5px 25px 0px 5px;
	  height:23px;
	  margin:0px;
	  color:#046bc2;
	  font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	  text-decoration:none;
}

.tabbox a:visited {
      color:#333;
	  text-decoration:none;
	  font: bold 14px Arial, Helvetica, sans-serif;
}
	 
.tabbox a:hover,
.tabbox a:active {
      color:#333;
	  text-decoration:none;
	  font: bold 14px Arial, Verdana, Helvetica, sans-serif;
}
	  
.tabbox .current {
      background-image:url(../images/left_on.gif);
	  position:relative;
      }
	  
	  
.tabbox .current a {
      background-image:url(../images/right_on.gif);
      padding-bottom:0px;
	  color:#333;
	  text-decoration:none;
	  font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	  position:relative;
}

.tabbox .current a:visited,
.tabbox .current a:hover,
.tabbox .current a:active {
      color:#333;
	  text-decoration:none;
}    

.bar_container_sm_content {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 409px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color:#333;
}

.tab_content_container {
	float:left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 625px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color:#666;
	line-height:18px;
	background:url(../images/tab_content_bg.gif) repeat-y;
}

.tab_content {
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 20px 15px;
	width: 590px;
}

.tab_content p {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	width: 590px;
}

/* Tabs Styles wide*/

.alltabs_wide {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 890px;
	display:block;
}

.tabwidth_wide {
	  width:100%;
	  font: small Arial, Helvetica, sans-serif;
	  line-height:normal;
}
	  
.tabwidth_wide p {
	  margin: 8px 30px 8px 15px;
	  line-height: 16px;
}
	  
.tabbox_wide {
	  float:left;
	  display:block;
      width:100%;
	  margin: 0px 0px 0px 0px;
	  padding: 0px 0px 0px 0px;
	  background: url(../images/tabbox_bg_wide.gif) no-repeat bottom left;
}
	  
.tabbox_wide ul {
      margin:0px;
      padding:0px 0px 0px 0px;
      list-style:none;
}
	  
.tabbox_wide li {
      float:left;
	  display:block;
      background:url(../images/left.gif) no-repeat left top;
      margin:0px;
      padding:0px 0px 0px 20px;
}
	  
.tabbox_wide a {
      display:block;
	  float:left;
      background:url(../images/right.gif) no-repeat right top;
      padding:5px 25px 0px 5px;
	  height:23px;
	  margin:0px;
	  color:#046bc2;
	  font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	  text-decoration:none;
}

.tabbox_wide a:visited {
      color:#333;
	  text-decoration:none;
	  font: bold 14px Arial, Verdana, Helvetica, sans-serif;
}
	 
.tabbox_wide a:hover,
.tabbox_wide a:active {
      color:#333;
	  text-decoration:none;
	  font: bold 14px Arial, Verdana, Helvetica, sans-serif;
}
	  
.tabbox_wide .current {
      background-image:url(../images/left_on.gif);
	  position:relative;
      }
	  
	  
.tabbox_wide .current a {
      background-image:url(../images/right_on.gif);
      padding-bottom:0px;
	  color:#333;
	  text-decoration:none;
	  font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	  position:relative;
}

.tabbox_wide .current a:visited,
.tabbox_wide .current a:hover,
.tabbox_wide .current a:active {
      color:#333;
	  text-decoration:none;
}    

.bar_container_sm_content_wide {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 409px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

.tab_content_container_wide {
	float:left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 890px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333333;
	background:url(../images/tab_content_bg_wide.gif) repeat-y;
}

.tab_content_wide {
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 15px 15px;
	width: 850px;
}

/* PageLinks Start */

.PageLinks {
	color:#046bc2;
	font-size:10.5px;
	text-align:right;
	padding-top:10px;
}

.PageLinks span {
	color:#666;
	font-size:10.5px;
}

.PageLinks a:link {
	color:#046bc2;
	background-color:transparent;
	font-weight:normal;
	text-decoration:none;
	font-size:10.5px;
}

.PageLinks a:visited {
	color:#046bc2;
	background-color:transparent;
	text-decoration:none;
	font-weight:normal;
}

.PageLinks a:hover {
	color:#F89F26;
	font-weight:normal;
	background-color:transparent;
	text-decoration:underline;
}

.PageLinks a:visited:hover {
	color:#F89F26;
	font-weight:normal;
	background-color:transparent;
	text-decoration:underline;
}

.SubHdr_Baseline {
display:block;
background: url(../images/subhdr_baseline_bg.jpg) no-repeat;
color:#fff;
font-weight:bold;
padding:2px 2px 2px 10px;
margin:0px;
width:272px;
}#PageContainer .TierMainContainer.FullWidthCarriage .TierMain .TierContentContainer .TierContentContainer .TierContent .TierContentLeft2 table tr td strong {
	color: #FFF;
}
#PageContainer .TierMainContainer.FullWidthCarriage .TierMain .TierContentContainer .TierContentContainer .TierContent .TierContentLeft2 table tr td strong center {
	color: #FFF;
}
#directions {
	float: right;
	height: auto;
	width: auto;
	display: block;
}
