#Btn {
	margin:0px 0px 0px 12px;
	padding:0px 0px 7px 0px;
}

#ModelLinks {
	margin:0px 0px 0px 12px;
	padding:0px 0px 0px 0px;
}

#HomeContentContainer {
	font-size:95%;
}

#HomeBox1 .body1 {
	font: 90% arial, helvetica, verdana, san-serif;
}

#HomeBox2 .body1 {
	font: 90% arial, helvetica, verdana, san-serif;
}

#HomeBox3 .body1 {
	font: 90% arial, helvetica, verdana, san-serif;
}

#HomeBox4 .body1 {
	font: 90% arial, helvetica, verdana, san-serif;
}

#HomeBox5 .body1 {
	font: 90% arial, helvetica, verdana, san-serif;
}

#HomeBox6 .body1 {
	font: 90% arial, helvetica, verdana, san-serif;
}

#HomeBox7 .body1 {
	font: 90% arial, helvetica, verdana, san-serif;
}


.SmGrayBox {
	font-size:85%;
}

.SmGrayBoxRight {
	font-size:85%;
}